# Requisitos del entorno de ejecución y análisis del TFG
# Metodología para testing de IA Generativa de texto en educación
# Python >= 3.10

pandas==2.1.4
numpy==1.26.4
matplotlib==3.6.3
requests==2.31.0
